$background: #8859b6; //Passes WCAG AA - Graphical Objects and User Interface Components
$focus: #212121; //Passes WCAG AA - Graphical Objects and User Interface Components

button {
	outline: none;
	border: 1px solid #dddddd;
	padding: 1.2rem 2rem;
	margin: 0.8rem 0.8rem;
	display: inline-block;
	border-radius: 0.4rem;
	box-sizing: border-box;
	background-color: $background;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 1.6rem;
	cursor: pointer;
}

button:focus {
	box-shadow: 0 0 0.5rem $focus;
	border: 1px solid $focus;
}

button:hover {
	background-color: #9462c7;
}

.cancel {
	border: 1px solid #fff;
	background: none;
	color: black;

	&:hover {
		text-decoration: underline;
		background-color: #fff;
	}
}
