form {
	fieldset {
		margin: 0;
		border: none;
		padding: 3rem;
		border-bottom: 1px #a1a1a1 solid;

		legend {
			position: absolute;
			left: -5000px;
		}
	}
}

hr {
	border: 1px #dddddd solid;
}

.footer {
	background-color: #fff;
	display: flex;
	justify-content: center;
}
